Checks: clang-analyzer-*, modernize-*, performance-*, readability-*, bugprone-*, cppcoreguidelines-*, -cppcoreguidelines-owning-memory, -cppcoreguidelines-avoid-magic-numbers, -readability-magic-numbers, -cppcoreguidelines-special-member-functions, -bugprone-suspicious-include, -cppcoreguidelines-no-malloc, -cppcoreguidelines-pro-type-cstyle-cast, -readability-make-member-function-const, -cppcoreguidelines-non-private-member-variables-in-classes, -bugprone-easily-swappable-parameters, -readability-identifier-length, -modernize-use-trailing-return-type, -cppcoreguidelines-pro-type-member-init, -modernize-return-braced-init-list, -modernize-use-designated-initializers, -readability-convert-member-functions-to-static
HeaderFilterRegex: "^(src|include)/.*"
FormatStyle: file
WarningsAsErrors: ""
CheckOptions:
  - key: modernize-use-nullptr.NullMacros
    value: 'nullptr'
